{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<form method="post">
    {% if error %}
        <div class="fr-alert fr-alert--error">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="fr-alert fr-alert--info">
            Vous êtes déjà connecté  {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Me deconnecter</a>
        </div>
    {% endif %}

{#      <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>#}
{#    <label for="inputUsername">Username</label>#}
{#    <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" autocomplete="username" required autofocus>#}
{#    <label for="inputPassword">Password</label>#}
{#    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>#}

{#    <input type="hidden" name="_csrf_token"#}
{#           value="{{ csrf_token('authenticate') }}"#}
{#    >#}

{#    <button class="btn btn-lg btn-primary" type="submit">#}
{#        Sign in#}
{#    </button>#}
{#</form>#}

    <main class="fr-pt-md-8v" role="main" id="content">
        <div class="fr-container fr-container--fluid fr-mb-md-14v">
            <div class="fr-grid-row fr-grid-row-gutters fr-grid-row--center">
                <div class="fr-col-12 fr-col-md-8 fr-col-lg-6">
                    <div class="fr-container fr-background-alt--grey fr-px-md-0 fr-py-10v fr-py-md-14v">
                        <div class="fr-grid-row fr-grid-row-gutters fr-grid-row--center">
                            <div class="fr-col-12 fr-col-md-9 fr-col-lg-8">

                                <div>
                                    <form id="login-1760">
                                        <fieldset class="fr-fieldset" id="login-1760-fieldset" aria-labelledby="login-1760-fieldset-legend login-1760-fieldset-messages">
                                            <legend class="fr-fieldset__legend" id="login-1760-fieldset-legend">
                                                <h2>   Se connecter </h2>
                                            </legend>
                                            <div class="fr-fieldset__element">
                                                <p class="fr-text--sm">Bonjour 😁</p>
                                            </div>
                                            <div class="fr-fieldset__element">
                                                <fieldset class="fr-fieldset" id="credentials" aria-labelledby="credentials-messages">
                                                    <div class="fr-fieldset__element">
                                                        <span class="fr-hint-text">Sauf mention contraire, tous les champs sont obligatoires.</span>
                                                    </div>
                                                    <div class="fr-fieldset__element">
                                                        <div class="fr-input-group">
                                                            <label class="fr-label" for="username-1757">
                                                                Identifiant
{#                                                                <span class="fr-hint-text">Format attendu : nom@domaine.fr</span>#}
                                                            </label>
                                                            <input class="fr-input" autocomplete="username" aria-required="true"  value="{{ last_username }}" aria-describedby="username-1757-messages" name="username" id="username-1757" type="text">
                                                            <div class="fr-messages-group" id="username-1757-messages" aria-live="assertive">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="fr-fieldset__element">
                                                        <div class="fr-password" id="password">
                                                            <label class="fr-label" for="password">
                                                                Mot de passe
                                                            </label>
                                                            <div class="fr-input-wrap">
                                                                <input class="fr-password__input fr-input"  name="password" id="inputPassword"aria-describedby="password-1758-input-messages" aria-required="true" name="password" autocomplete="current-password" id="password-1758-input" type="password">
                                                            </div>
                                                            <div class="fr-messages-group" id="inputPassword" aria-live="assertive">
                                                                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                                                            </div>
                                                            <div class="fr-password__checkbox fr-checkbox-group fr-checkbox-group--sm">

                                                                <div class="fr-messages-group" id="password-1758-show-messages" aria-live="assertive">
                                                                </div>
                                                            </div>
{#                                                            <p>#}
{#                                                                <a href="[À MODIFIER - url de la page de récupération]" class="fr-link">Mot de passe oublié ?</a>#}
{#                                                            </p>#}
                                                        </div>
                                                    </div>
                                                    <div class="fr-messages-group" id="credentials-messages" aria-live="assertive">
                                                    </div>
                                                </fieldset>
                                            </div>
                                            <div class="fr-fieldset__element">
                                                <div class="fr-checkbox-group fr-checkbox-group--sm">
                                                    <input name="remember" id="remember-1759" type="checkbox" aria-describedby="remember-1759-messages">
                                                    <label class="fr-label" for="remember-1759">
                                                        Se souvenir de moi
                                                    </label>
                                                    <div class="fr-messages-group" id="remember-1759-messages" aria-live="assertive">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="fr-fieldset__element">
                                                <ul class="fr-btns-group">
                                                    <li>
                                                        <button class="fr-mt-2v fr-btn" type="submit">
                                                            Se connecter
                                                        </button>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="fr-messages-group" id="login-1760-fieldset-messages" aria-live="assertive">
                                            </div>
                                        </fieldset>
                                    </form>
                                </div>
                                <hr>
                                <h2>Vous n’avez pas de compte ?</h2>
                                <ul class="fr-btns-group">
                                    <li>
                                        <button class="fr-btn fr-btn--secondary" ><a href="register">
                                                Créer un compte
                                            </a> </button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}