{# templates/mesreservation/edit.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Modifier la Réservation{% endblock %}

{% block body %}
    <div class="fr-container fr-mb-9w">
    <div class="fr-grid-row fr-grid-row--center fr-grid-row--gutter">
    <div class="fr-col fr-col-lg-8">

    <h1>Modifier la Réservation</h1>

    {# Affichage des erreurs du formulaire si nécessaire #}
    {{ form_start(form) }}

    {{ form_row(form.dateCreation) }}
    {{ form_row(form.datefin) }}
    {{ form_row(form.Terrain) }}
    <div class="fr-input-group fr-my-4w">
    <button class="fr-btn btn" type="submit">Modifier</button>
       <button class="fr-btn btn"> <a href="{{ path('app_mesreservation') }}"> Retour aux réservations</a> </button>
    </div>
    {{ form_end(form) }}


    </div>
    </div>
    </div>
{% endblock %}