{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
<div class="fr-container fr-mb-8w">
    <div class="fr-grid-row fr-grid-row--center fr-grid-row--gutter">
        <div class="fr-col fr-col-lg-8">
    <h1>Inscription</h1>

    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.username) }}
    {{ form_row(registrationForm.Nom) }}
    {{ form_row(registrationForm.prenom) }}
    {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.agreeTerms) }}

          <div class="fr-input-group fr-my-4w">
        <button type="submit" class="fr-btn">Enregistrer</button>
          </div>
    {{ form_end(registrationForm) }}
    </div>
    </div>
</div>
{% endblock %}
