{% extends 'base.html.twig' %}

{% block title %}Hello ReservationController!{% endblock %}

{% block body %}
    {% for message in app.flashes('error') %}
        <div class="fr-alert--error">{{ message }}</div>
    {% endfor %}
    <div class="fr-container fr-p-8v">

        <h1> Reservation du terrain </h1>
        {{ form_start(ReservationType) }}

        {{ form_errors(ReservationType)}}


        {{ form_row(ReservationType.dateCreation) }}
        {{ form_row(ReservationType.datefin) }}

        {{ form_row(ReservationType.Capacite) }}



        {{ form_end(ReservationType) }}
    </div>
</div>
{% endblock %}
